
.Credits {
  background-color: #020202;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: Crimson Text;
  font-size: 20px;
  color: white;
  
    .blanc {
        color: white;
    }
    
    .rouge {
      color: #FC4830;
    }
    
    .createurs {
      font-family: Crimson Text;
      font-size: 20px;
    }
    
    .titre {
    font-family: Crimson Text;
    
    font-style: italic;
    font-size: 24px;
    
    }
    
    .ligne {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    p {
      margin-bottom: 0;
    }

    section {
      margin-bottom: 40px;
    }
}