.Menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &__header {
        box-sizing: border-box;
        position: absolute;
        z-index: 100;
        width: 100%;
        padding: 40px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__logo {
            display: flex;
            flex-direction: column;

            &__title {
                font-size: 48px;
                line-height: 40px;
                font-weight: 400;
                margin: 0;
                font-family: 'Crimson Text', sans-serif;
                font-style: italic;
            }

            &__subtitle {
                font-size: 18px;
                font-weight: 400;
                margin: 0;
                font-family: 'Crimson Text', sans-serif;
            }
        }

        &__toggle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgba(0,0,0,0);
            color: white;
            box-shadow: none;
            border: none;
            cursor: pointer;
            
            &__text {
                text-align: center;
                margin: 0 8px;
                max-width: 35px;
                text-transform: uppercase;
                letter-spacing: 5px;
                word-wrap: break-word;
                font-family: 'Crimson Text', sans-serif;
            }

            &:hover, &:focus {
                outline: none!important;

                .MenuDecoration {
                    span {
                        width: 25px;
                    }
            
                    span:nth-child(2) {
                        width: 20px;
                    }
                }
            }
        }
    }

    &__inner {
        display: none;
        opacity: 0;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        justify-content: center;
        align-items: center;
        transition: opacity 0.5s;
        
        &__links {
            font-family: 'Crimson Text', sans-serif;
            font-size: 44px;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
                
            &__link {
                font-family: 'Crimson Text', sans-serif;
                background-color: rgba(0,0,0,0);
                box-shadow: none;
                border: none;
                font-size: 44px;
                color: white;
                transition-duration: 0.5s;
                max-width: 800px;
                margin: 25px auto;

                &:focus {
                    outline: 0px solid #fff;
                    outline-offset: -4px;
                    border: none;
                    border-color: rgba(0,0,0,0);
                    box-shadow: none;
                }
            }
        }

        &__audio {
            position: absolute;
            left: 80px;
            bottom: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 18px;
                width: 18px;
            }

            &__range {
                -webkit-appearance: none;
                margin-left: 15px;
                height: 4px;
                width: 70px;
                //color: #FC4830;
            }

            &__range::-webkit-slider-thumb{
                -webkit-appearance:none;
                border:1px solid #ddd;
                width:15px;
                height:15px;
                border-radius:50%;
                background:#FC4830;
                box-shadow:0 0 .125rem #aaa;
            }

            &__range::-moz-range-track{
                border:3px solid transparent;
                padding:.5rem;
                height:1rem;
                border-radius:1.5rem;
                background:none
            }
        }

        &__langs {
            position: absolute;
            right: 80px;
            bottom: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            &__lang {
                box-shadow: none;
                border: none;
                font-size: 16px;
                color: white;
                background-color: rgba(0,0,0,0);
                font-family: 'Crimson Text', sans-serif;
            }

            &__split {
                margin: 0 4px;
                display: block;
                width: 1px;
                height: 14px;
                background:#FC4830;
            }
        }

        &--open {
            display: flex;
            opacity: 1;
        }
    }
}