
.BackgroundVideo {
    position: relative;
    height: 100vh;
    width: 100%;
    transform: scale(1.2);

    &__video {
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;

        &--video3styletemp {
            object-fit: scale-down;
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,1) 100%);
    }
}