@import './../../scss/variables.scss';

.Step {
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__dialog {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 700px;
        margin: 0 auto $spacing-page-vertical auto;
        width: 400px;
        min-height: 200px;

        &__speaker {
            font-family: 'Crimson Text', sans-serif;
            font-size: 14px;
            font-weight: bold;
        }

        &__text {
            font-family: 'Crimson Text', sans-serif;
            font-size: 30px;
            font-weight: 400;
            font-style: italic;
            margin: 0;
            padding-left: 30px;
        }

        &--left {
            margin: 0 auto $spacing-page-vertical 200px;
        }

        &--right {
            margin: 0 auto $spacing-page-vertical 50%;
        }
    }

    &__chooses {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 10% 0;
        background-color: rgba(0,0,0,0.7);

        &__option {
            font-family: 'Crimson Text', sans-serif;
            background-color: rgba(0,0,0,0);
            box-shadow: none;
            border: none;
            font-size: 44px;
            line-height: 46px;
            color: white;
            transition-duration: 0.5s;
            max-width: 800px;
            margin: 0 auto;

            &:hover, &:focus {
                transform: scale(1.2);
            }

            &--hidden {
                position: relative;
                color: rgb(156, 156, 156);
                text-decoration: line-through white;
                
                &:hover, &:focus {
                    transform: scale(1);
                }
            }

            &:focus {
                outline: 0px solid #fff;
                outline-offset: -4px;
                border: none;
                border-color: rgba(0,0,0,0);
                box-shadow: none;
            }
        }
    }

    &__interactText {
        font-family: 'Crimson Text', sans-serif;
        font-size: 44px;
        color: white;
        max-width: 800px;
        margin: 0 auto;
    }
}