<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <section class="HomeSection">
        <div class="HomeSection__particulesBox">
            <div class="wrap">
                <% for(var i=0; i < 300; i++) { %>
                    <div class="c"></div>
                <% } %>
            </div>
        </div>
        <p class="HomeSection__title">L’évadé</p>
        <img class="HomeSection__image" src="<%= require("./../assets/le musée dessin.png") %>" alt="">
        <button class="HomeSection__button">Commencer l'experience</button>
    </section> -->
    <div id="app"></div>
</body>
</html>