@import './variables.scss';

.Step {

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__dialog {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: $spacing-medium 0;
        text-align: center;

        &__speaker {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
        }

        &__text {
            font-family: 'Rasa', sans-serif;
            font-size: 24px;
            font-weight: 400;
            margin: 0;
        }
    }

    &__chooses {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 10% 0;
        background-color: rgba(0,0,0,0.7);

        &__option {
            font-family: 'Rasa', sans-serif;
            background-color: rgba(0,0,0,0);
            box-shadow: none;
            border: none;
            font-size: 44px;
            color: white;
            transition-duration: 0.5s;
            max-width: 800px;
            margin: 0 auto;

            &:hover {
                transform: scale(1.2);
                max-width: 840px;
                font-weight: bold;
            }

            &:focus {
                outline: 0px solid #fff;
                outline-offset: -4px;
                border: none;
                border-color: rgba(0,0,0,0);
                box-shadow: none;
                text-decoration: underline;
            }
        }
    }
}