
$spacing-base: 15px;
$spacing-xs: 5px;
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-medium-plus: 25px;
$spacing-large: 30px;
$spacing-xl: 35px;
$spacing-page-vertical: 50px;
$spacing-page-horizontal: 80px;
